.left-box
  .left-head
    .user-info
      %p.user-info__name
        = current_user.name
      %ul.user-info__menu
        %li
          = link_to new_group_path do
            =fa_icon "edit"
        %li
          = link_to edit_user_path(current_user) do
            =fa_icon "cog"
  .left-body
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          %p.group__message hogehoge
